<header id="top-nav">
  <nav class="top-menu">

        <div class="logo">
          <a href="/">
            <i class="fa fa-registered" aria-hidden="true"></i>
            Home
          </a>
        </div>
        
        <ul class="menu-body">
          <li>
            <a href="/projects/" class="anchor">
              <i class="fa fa-list-ul" aria-hidden="true"></i>
              <span>projects</span>
            </a>
          </li>

          <li>
            <a href="/templates/" class="anchor">
              <i class="fa fa-file-text" aria-hidden="true"></i>
              <span>templates</span>
            </a>
          </li>

          <li>
            <a href="/tags/" class="anchor">
              <i class="fa fa-tags" aria-hidden="true"></i>
              <span>Tags</span>
            </a>
          </li>
          <li>
            <a href="/generator/" class="anchor">
              <i class="fa fa-asterisk" aria-hidden="true"></i>
              <span>generator</span>
            </a>
          </li>

          <li>
            <a href="/json/" class="anchor">
              <i class="fa fa-cloud-download" aria-hidden="true"></i>
              <span>import</span>
            </a>
          </li>
        </ul>
  </nav>

  <div class="bottom-nav">
    <ul class="menu-body">
      
      <li>
        <a href="/library/" class="anchor">
          <i class="fa fa-book" aria-hidden="true"></i>
          <span>Template Key Library</span>
        </a>
      </li>
      <li>
        <a href="/query/" class="anchor">
          <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
          <span>query</span>
        </a>
      </li>
    </ul>
  </div>
</header>