<!DOCTYPE html>
<html class="ng-scope" np-app="Reple">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/topnav.ejs %>

  <div class="container">
    <h1> <%= error %> </h1>
    <p> <%= message %> </p>
  </div>

</body>
</html>
