<header id="top-nav">
  <nav class="top-menu">
        <ul class="menu-body">
          <li>
            <a href="/tags" class="anchor">Tags</a>
          </li>

          <li>
            <a href="/json" class="anchor">Load JSON</a>
          </li>

        </ul>
  </nav>
</header>