
<div class="menu-back">
  <div class="menu">
    
    <a href="/projects"><summary>Projects</summary></a>
    
    
    
    <!-- <a href="/keywords"><summary>Keys</summary></a> -->
    
    
    
    <!-- <a href="/tags"><summary>Tags</summary></a> -->
    
    
    <!-- <a href="/json"><summary>Load Json</summary></a> -->
    
    
    <a href="/rewrite"><summary>Rewrite Objects</summary></a>
    
    
  </div>
</div>