<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
  </head>
  <body>

    <% include ../partials/topnav.ejs %>
    
    <section id="project-details"  class="col-md-offset-2 col-md-10">
      <div class="col-md-10">
        <div class="details-body">
          <form id='new-project-form'>

            <div class="proj-title">
              <h1>new project</h1>
            </div>
            <p class="name input">
              <span class="label-title">Name</span>
              <input type="text" value="" id='name-input'>
            </p>
            <p class="info input">
              <span class="label-title">Info</span>
              <textarea id="description-textarea"></textarea>
            </p>
            <h3>TAG RELATION</h3>
            <div class="tags select assoc">
              <p class="tags input">
                <span class="label-title">Associative tags</span>
                <!-- <input type="text" value="asian, schoolegirl" data-role="tagsinput" id='assoc-tag'> -->
                <select multiple id='assoc-tag'>
                </select>
              </p>
              <p >
                <select>
                  <% scope.tags.forEach(function(tag, iter){ %>
                    <option tag-id='<%= tag.id %>'>
                      <%= tag.name %>
                    </option>
                  <% }); %>
                </select>
                <button class="btn btn-success add-more" select-id='assoc-tag' type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
              </p>
            </div>

            <div class="tags select stop">
              <p class="tags input">
                <span class="label-title">Stop tags</span>
                <select multiple id='stop-tag'>
                </select>
              </p>
              <p >
                <select>
                  <% scope.tags.forEach(function(tag, iter){ %>
                    <option tag-id='<%= tag.id %>'>
                      <%= tag.name %>
                    </option>
                  <% }); %>
                </select>
                <button class="btn btn-success add-more"  select-id='stop-tag' type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
              </p>
            </div>
            <div class="main-butt">
              <input class="button" type="submit" value="CREATE">
            </div>

          </form>
        </div>
      </div>
    </section>
    <script type="text/javascript">
      $(function(){
        $('#stop-tag').tagsinput({
          allowDuplicates: false,
          itemValue: 'id',
          itemText: 'label'
        });
        $('#assoc-tag').tagsinput({
          allowDuplicates: false,
            itemValue: 'id',
            itemText: 'label'
        });
        $(".bootstrap-tagsinput input").attr("readonly", true);
        $('div.tags button.add-more').on('click', (e)=>{
          var btn = e.target;
          var neighbour = btn.previousElementSibling;
          var tag_name = neighbour.options[neighbour.selectedIndex].value;
          var tag_id = neighbour.options[neighbour.selectedIndex].getAttribute('tag-id');
          var select_id = btn.getAttribute('select-id');
          var select = document.getElementById(select_id);
          var select_name = '#'+select_id;

          // console.log( {"id":tag_id, "label":tag_name} );
          $(select_name).tagsinput('add', {"id":tag_id, "label":tag_name} );
        });

      });
    </script>
  </body>
</html>